<form #login="ngForm" autocomplete="off">
    <igx-card>
        <igx-card-header>
            <label igxLabel >Login</label> 
        </igx-card-header>
        <igx-card-content>
            <igx-input-group>
                <label igxLabel for="userid" >User Id</label>
                <input igxInput type="text" name="userid" [(ngModel)]="user.userid">
            </igx-input-group>
            <igx-input-group>
                <label igxLabel for="password">Password</label>
                <input igxInput type="password" name="password" [(ngModel)]="user.password" >
            </igx-input-group>
        </igx-card-content>
        <igx-card-footer>
            <button igxButton="raised" igxRipple type="submit">Submit</button>
        </igx-card-footer>
    </igx-card>
</form>
    
